<%- include("partials/header") -%>

<section class="banner" style="background:url(images/site/fund.png) no-repeat;">
  <div class="container">
      <div class="text" data-aos="zoom-out" data-aos-delay="1000">
          <h1>We make a living by what we get, but we make a life by what we give.</h1>
          <p>Fundraising is the gentle art of teaching the joy of giving.</p>
      </div>
  </div>
</section>

<section class="brand-logo">
  <div class="container">
    <div class="brand-logo-inner" data-aos="fade-up">
      <div class="item"><img src="images/site/logo1.png" alt="logo1" /></div>
      <div class="item"><img src="images/site/logo2.png" alt="logo2" /></div>
      <div class="item"><img src="images/site/logo3.png" alt="logo3" /></div>
      <div class="item"><img src="images/site/logo4.png" alt="logo4" /></div>
      <div class="item"><img src="images/site/logo5.png" alt="logo5" /></div>
    </div>
  </div>
</section>

<section class="sec1">
  <div class="container">
    <div class="sec1-inner">
      <div class="text text-left" data-aos="zoom-out-right">
        <h3>Fundraising or fund-raising is the process of seeking and gathering voluntary financial contributions
            by engaging individuals, businesses, charitable foundations, or governmental agencies.
        </h3>
      </div>
      <div class="text text-right" data-aos="zoom-out-left">
        <p>
          Emergency situations require urgent action, which in turn requires human and material resources. Fundraising plays a fundamental role in obtaining these resources. Food and water, medicines, clothing, money...
          It doesn't really matter what it is, what really matters is where it's going.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sec2 left-right-sec">
  <div class="container">
    <div class="sec2-inner">
      <div class="img" data-aos="zoom-out-up">
        <div class="img"><img src="images/site/img3.png" alt="img-3" /></div>
      </div>
      <div class="text" data-aos="zoom-out-left">
         <h2 id="fund">Fundraising for local community</h2>
        <div class="text-inner">
          <p>If you want to help generate a sense of community spirit
            in your local area, a fundraising event is one of the best ways
            to get everyone involved. As well as contributing to a great cause,
            fundraising events are a fun way to build teamwork skills and boost morale
            in your community.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include("partials/footer") -%>
