
  <%- include("partials/header") -%>

    <section class="banner">
      <div class="container">
        <div class="text" data-aos="zoom-out" data-aos-delay="1000">
          <h1>Support small businesses<br />and local groups</h1>
          <p>No act of kindness, no matter how small, is ever wasted.<br />Be a good neighbour.</p>
          <a class="btn" href="https://www.aviva.co.uk/aviva-edit/in-the-news-articles/ways-to-support-your-local-community/">Learn More</a>
        </div>
      </div>
    </section>

    <section class="brand-logo">
      <div class="container">
        <div class="brand-logo-inner" data-aos="fade-up">
          <div class="item"><img src="images/logo1.png" alt="logo1" /></div>
          <div class="item"><img src="images/logo2.png" alt="logo2" /></div>
          <div class="item"><img src="images/logo3.png" alt="logo3" /></div>
          <div class="item"><img src="images/logo4.png" alt="logo4" /></div>
          <div class="item"><img src="images/logo5.png" alt="logo5" /></div>
        </div>
      </div>
    </section>

    <section class="sec1">
      <div class="container">
        <div class="sec1-inner">
          <div class="text text-left" data-aos="zoom-out-right">
            <h3>At the heart of every community is the people in it. All across the UK, strong communities are built from
              fresh thinking, collaboration and, most importantly, great relationships.</h3>
          </div>
          <div class="text text-right" data-aos="zoom-out-left">
            <p>
              It’s these connections that allow us to
              feel supported and like we belong to the place
              we make our home.Today, being part of a community has never been more important.
              There aren’t many positives to a global pandemic, but there’s something empowering in seeing all the
              ways we’ve come together at such a difficult time – both virtually and in person.More than simply bringing like-minded people together, communities help to build local businesses and charities, and offer support to those who need it most. If you’re thinking about ways to get more involved in your local area, this helpful guide will highlight six of the
              easiest ways you can support your community for a brighter future.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="sec2 left-right-sec">
      <div class="container">
        <div class="sec2-inner">
          <div class="img" data-aos="zoom-out-up">
            <div class="img"><img src="images/img1.png" alt="img-1" /></div>
          </div>
          <div class="text" data-aos="zoom-out-left">
             <h2 id="charities">Donating to local charities</h2>
            <div class="text-inner">
              <p>While larger charities often command greater awareness
                thanks to renown and resources, donating what you can to lesser-known,
                smaller charities can make a huge difference. Finding a cause that’s close to home means you’re giving back
                to your local community and helping to improve the lives of those around you.</p>
              <a href="/charity" class="btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec2 left-right-sec">
      <div class="container">
        <div class="sec2-inner">
          <div class="text" data-aos="zoom-out-right">
            <h2 id="volunteer"> Volunteer </h2>
            <div class="text-inner">
              <p>If you find yourself with a few hours to spare each week,
                volunteering is a rewarding way to make a positive difference to your community.
                Volunteering is important to the running of many non-profit organisations
                with many charities relying on volunteers to support their vital work.</p>
              <a href="/volunteer" class="btn">Learn More</a>
            </div>
          </div>
          <div class="img" data-aos="zoom-out-left">
            <div class="img"><img src="images/img2.png" alt="img-2" /></div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec2 left-right-sec">
      <div class="container">
        <div class="sec2-inner">
          <div class="img" data-aos="zoom-out-up">
            <div class="img"><img src="images/img3.png" alt="img-3" /></div>
          </div>
          <div class="text" data-aos="zoom-out-left">
             <h2 id="fund">Fundraising for local community</h2>
            <div class="text-inner">
              <p>If you want to help generate a sense of community spirit
                in your local area, a fundraising event is one of the best ways
                to get everyone involved. As well as contributing to a great cause,
                fundraising events are a fun way to build teamwork skills and boost morale
                in your community.</p>
              <a href="/fund" class="btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec2 left-right-sec">
      <div class="container">
        <div class="sec2-inner">
          <div class="text" data-aos="zoom-out-right">
            <h2 id="shop">Shop small</h2>
            <div class="text-inner">
              <p>When it comes to supporting your local town, shopping locally is
                one of the easiest and most important things you can do. This is
                especially true this year. Following several lockdowns and continued financial uncertainty,
                many smaller businesses have suffered from lost revenue and have even faced closure.</p>
              <a href="/shop" class="btn">Learn More</a>
            </div>
          </div>
          <div class="img" data-aos="zoom-out-left">
            <div class="img"><img src="images/img4.png" alt="img-4" /></div>
          </div>
        </div>
      </div>
    </section>

    <section class="sec4">
      <div class="container">
        <div class="sec4-inner" data-aos="zoom-out-right">
          <h2>Support Local</h2>
          <div class="sec4-boxes">
            <div class="box">
              <h6>Your</h6>
              <div class="img">
                <img src="images/char1.png" alt="char-1"/>
              </div>
            </div>
            <div class="box">
              <h6>One</h6>
              <div class="img">
                <img src="images/char2.png" alt="char-2"/>
              </div>
            </div>
            <div class="box">
              <h6>Support</h6>
              <div class="img">
                <img src="images/char3.png" alt="char-3"/>
              </div>
            </div>
            <div class="box">
              <h6>Can</h6>
              <div class="img">
                <img src="images/char4.png" alt="char-4"/>
              </div>
            </div>
            <div class="box">
              <h6>Make</h6>
              <div class="img">
                <img src="images/char5.png" alt="char-5"/>
              </div>
            </div>
            <div class="box">
              <h6>Someone's</h6>
              <div class="img">
                <img src="images/char6.png" alt="char-6"/>
              </div>
            </div>
            <div class="box">
              <h6>Life</h6>
              <div class="img">
                <img src="images/char7.png" alt="char-7"/>
              </div>
            </div>
            <div class="box">
              <h6>Happy</h6>
              <div class="img">
                <img src="images/char8.png" alt="char-8"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <%- include("partials/footer") -%>
