<%- include("partials/header") -%>

<section class="banner" style="background:url(images/shop.png) no-repeat;">
  <div class="container">
      <div class="text" data-aos="zoom-out" data-aos-delay="1000">
          <h1>Just A Little Help Can Make Their Hearts Happier.</h1>
          <p>Charity brings to life again those who are spiritually dead.</p>
      </div>
  </div>
</section>

<section class="brand-logo">
  <div class="container">
    <div class="brand-logo-inner" data-aos="fade-up">
      <div class="item"><img src="images/logo1.png" alt="logo1" /></div>
      <div class="item"><img src="images/logo2.png" alt="logo2" /></div>
      <div class="item"><img src="images/logo3.png" alt="logo3" /></div>
      <div class="item"><img src="images/logo4.png" alt="logo4" /></div>
      <div class="item"><img src="images/logo5.png" alt="logo5" /></div>
    </div>
  </div>
</section>

<section class="sec1">
  <div class="container">
    <div class="sec1-inner">
      <div class="text text-left" data-aos="zoom-out-right">
        <h3>Charity brings to life again those who are spiritually dead.
          He who has never denied himself for the sake of giving, has but glanced
          at the joys of charity.
        </h3>
      </div>
      <div class="text text-right" data-aos="zoom-out-left">
        <p>
          Charity, a noble quality in man, brings welfare in the society.
          It enlarges human hearts and spreads the message of brotherhood and innocent love among the people.
          The prac­tice of charity was adored in ancient days. The saints and the sages lived on alms offered by the affluent people. It was then an accepted
          practice to give whatever was possible in charity for the welfare of the people and the society.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sec2 left-right-sec">
  <div class="container">
    <div class="sec2-inner">
      <div class="img" data-aos="zoom-out-up">
        <div class="img"><img src="images/img4.png" alt="img-4" /></div>
      </div>
      <div class="text" data-aos="zoom-out-left">
         <h2 id="shop">Shop small</h2>
        <div class="text-inner">
          <p>If you want to help generate a sense of community spirit
            in your local area, a fundraising event is one of the best ways
            to get everyone involved. As well as contributing to a great cause,
            fundraising events are a fun way to build teamwork skills and boost morale
            in your community.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include("partials/footer") -%>
