<%- include("partials/header") -%>

<section class="banner" style="background:url(images/site/shop.png) no-repeat;">
  <div class="container">
      <div class="text" data-aos="zoom-out" data-aos-delay="1000">
          <h1>Shopping small supports a business and a dream.</h1>
          <p>Good things come to those who shop local.</p>
      </div>
  </div>
</section>

<section class="brand-logo">
  <div class="container">
    <div class="brand-logo-inner" data-aos="fade-up">
      <div class="item"><img src="images/site/logo1.png" alt="logo1" /></div>
      <div class="item"><img src="images/site/logo2.png" alt="logo2" /></div>
      <div class="item"><img src="images/site/logo3.png" alt="logo3" /></div>
      <div class="item"><img src="images/site/logo4.png" alt="logo4" /></div>
      <div class="item"><img src="images/site/logo5.png" alt="logo5" /></div>
    </div>
  </div>
</section>

<section class="sec1">
  <div class="container">
    <div class="sec1-inner">
      <div class="text text-left" data-aos="zoom-out-right">
        <h3>The shop local movement is hardly a trend –
          it’s a shift in lifestyle that more and more people are embracing.
        </h3>
      </div>
      <div class="text text-right" data-aos="zoom-out-left">
        <p>
          Shopping local is all about sharing the love, and in that spirit we’ve gathered
          some of our favourite shop local quotes to inspire and encourage you.  By purchasing from local businesses,
          you are, as Anna Lappe so poignantly says, “casting a vote for the kind of world you want”.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sec2 left-right-sec">
  <div class="container">
    <div class="sec2-inner">
      <div class="img" data-aos="zoom-out-up">
        <div class="img"><img src="images/site/img4.png" alt="img-4" /></div>
      </div>
      <div class="text" data-aos="zoom-out-left">
         <h2 id="shop">Shop small</h2>
        <div class="text-inner">
          <p>If you want to help generate a sense of community spirit
            in your local area, a fundraising event is one of the best ways
            to get everyone involved. As well as contributing to a great cause,
            fundraising events are a fun way to build teamwork skills and boost morale
            in your community.</p>
          <a href="#" class="btn">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include("partials/footer") -%>
